.menu{
    position: absolute;
    width: 100%;
    height: 163px;
    left: 0px;
    top: 0px;
    background: url(../Image/e4d5f6093ae83032edd4f6d1e3f2e25c.jpg);
}

/* Logo */
.menu img {
    position: absolute;
    width: 193px;
    height: 142px;
    left: 32px;
    top: 0px;
    transition: transform 1s;
}
.menu img:hover {
    transform: rotate(-10deg);
  }


/* ICON COW */

.iconc img {
    position: absolute;
    width: 79px;
    height: 81px;
    left: 495px;
    top: 71px;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));
    transition: transform 0.5s;
    border-radius: 10%;
}
.iconc img:hover {
    transform: rotateY(360deg);
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));
}

/* ICON PIG */
.iconp img {
    position: absolute;
    width: 79px;
    height: 81px;
    left: 608px;
    top: 71px;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));
    transition: transform 0.5s;
    border-radius: 10%;
}
.iconp img:hover {
    transform: rotateY(360deg);
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));
}

/* ICON CHICKEN */
.icong img {
    position: absolute;
    width: 79px;
    height: 81px;
    left: 721px;
    top: 71px;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));
    transition: transform 0.5s;
    border-radius: 10%;
}
.icong img:hover {
    transform: rotateY(360deg);
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));
}

/* ICON FISH */
.iconf img {
    position: absolute;
    width: 79px;
    height: 81px;
    left: 834px;
    top: 71px;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));
    transition: transform 0.5s;
    border-radius: 10%;
}
.iconf img:hover {
    transform: rotateY(360deg);
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));
}

/* CADASTRO */
.c {
    position: relative;
    display: inline-block;
    background-color: rebeccapurple;
    height: 1px;
  }
.c p{
    position: relative;
    display: inline-block;

    width: 170px;
    height: 50px;
    left: 1131px;
    top: 25px;
    display: center;

    font-family: 'Kreon';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    
    color: #000000;
}    
.c:hover .retangulo {
  opacity: 1;
}
.retangulo {
  position: absolute;
  left: 1140px;
  top: 30px;
  width: 150px;
  height: 70px;
  background-image: linear-gradient(to right, #ff9090, #fb4242);
  opacity: 0;
  border-radius: 15%;
  transition: opacity 0.5s;
}
.s {
    position: relative;
    display: inline-block;
    background-color: rebeccapurple;
    height: 1px;
  }
.s p{
    position: relative;
    display: inline-block;

    width: 170px;
    height: 50px;
    left: 1171px;
    top: 25px;
    display: center;

    font-family: 'Kreon';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    
    color: #000000;
  }    
.s:hover .retangulos {
    opacity: 1;
}
.retangulos {
    position: absolute;
    left: 1180px;
    top: 30px;
    width: 150px;
    height: 70px;
    background-image: linear-gradient(to right, #ff9090, #fb4242);
    opacity: 0;
    border-radius: 15%;
    transition: opacity 0.5s;
  }
  


/* ENTRAR++ */
.e {
    position: relative;
    display: inline-block;
    height: 1px;
    width: 1px;
  }
.e p{
    position: relative;
    display: inline-block;

    width: 111px;
    height: 34px;
    left: 1160px;
    top: 25px;

    font-family: 'Kreon';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    
    color: #000000;
}    
.retangulo2 {
    position: absolute;
    top: 30px;
    left: 1140px;
    width: 150px;
    height: 70px;
    background-image: linear-gradient(to right, #ff9090, #fb4242);
    opacity: 0;
    border-radius: 15%;
    transition: opacity 0.5s;
  }
  
  .e:hover .retangulo2 {
    opacity: 1;
  }

  /* PROJETO ANIMATED */
  .animated {
    display: flex;
    height: auto;
    margin: auto;
    overflow: hidden;
    align-items: center;
  }
  .animated::before {
    position: absolute;
    z-index: 1;
    left: 0;
    content: "";
    width: 23.958%;
    height: 110px;
  }
  .animated::after{
    position: absolute;
    right: 0;
    content: "";
    width: 23.958%;
    height: 110px;
  }
  .animated .anima-track {
    margin-top: 11.5pc;
    display: flex;
    animation: scroll 35s linear infinite;
    -webkit-animation: scroll 35s linear infinite;
    width: calc(240px * 10);
  }
  .animated .anima{

    display: flex;
  }
.animated .anima img {
  width: 90px;
  height: 70px;
  padding: 2px;
  margin: 20px;
  border-radius: 8px;
}
@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-240px * 5));
    transform: translateX(calc(-240px * 5));
  }
}

  /* AD */
  .ad1 img{
    position: absolute;
    width: 714px;
    height: 211px;
    left: 20px;
    top: 349px;
    transition: transform 0.7s;
    border-radius: 18px;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));
  }
  .ad1 img:hover{
    transform: scale(0.9);
    cursor: pointer;
  }
  .ad2 img{
    position: absolute;
    width: 714px;
    height: 211px;
    left: 760px;
    top: 349px;
    transition: transform 0.7s;
    border-radius: 18px;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));
  }
  .ad2 img:hover{
    transform: scale(0.9);
    cursor: pointer;
  }

  /* VENDA */
  .tit {
    position: absolute;
    width: 367px;
    height: 48px;
    left: 546px;
    top: 582px;
    
    font-family: 'Kreon';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    
    color: #000000;    
  }
  .titu p{
    position: absolute;
    width: 570px;
    height: 63px;
    left: 50px;
    top: 10px;
    
    font-family: 'Kreon';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    
    color: #9c0000;
    text-shadow: 0 5px 10px #000000;
  }
.ven1 img{
  position: absolute;
  width: 219px;
  height: 189px;
  left: 104px;
  top: 670px;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));
}
.ven1 img:hover{
  transition: 1s;
  transform: scale(1.1);
  cursor: pointer;
}
.ven1 p{
  position: absolute;
  width: 241px;
  height: 39px;
  left: 93px;
  top: 840px;
  
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
  text-align: center;

  color: #000000;
}
.p2 {
  position: absolute;
  width: 108px;
  height: 20px;
  left: 160px;
  top: 910px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.035em;
  
  color: #870000;
}
.ven2 img{
  position: absolute;
  width: 219px;
  height: 189px;
  left: 450px;
  top: 670px;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));
}
.ven2 img:hover{
  transition: 1s;
  transform: scale(1.1);
  cursor: pointer;
}
.ven2 p{
  position: absolute;
  width: 238px;
  height: 39px;
  left: 441px;
  top: 840px;
  
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
  text-align: center;

  color: #000000;
}
.p3{
  position: absolute;
  width: 108px;
  height: 20px;
  left: 506px;
  top: 910px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.035em;
  
  color: #870000;
}
.ven3 img{
  position: absolute;
  width: 219px;
  height: 189px;
  left: 806px;
  top: 670px;  
  border-radius: 10px;
  filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));
}
.ven3 img:hover{
  transition: 1s;
  transform: scale(1.1);
  cursor: pointer;
}
.ven3 p{
  position: absolute;
  width: 219px;
  height: 39px;
  left: 806px;
  top: 840px;
  
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
  text-align: center;
  
  color: #000000;
}
.p4{
  position: absolute;
  width: 108px;
  height: 20px;
  left: 862px;
  top: 910px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.035em;
  
  color: #870000;
}
.ven4 img{
  position: absolute;
  width: 219px;
  height: 189px;
  left: 1152px;
  top: 670px;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));
}
.ven4 img:hover{
  transition: 1s;
  transform: scale(1.1);
  cursor: pointer;
}
.ven4 p{
  position: absolute;
  width: 219px;
  height: 39px;
  left: 1152px;
  top: 843px;
  
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
  text-align: center;
  
  color: #000000;
}
.p5{
  position: absolute;
  width: 108px;
  height: 20px;
  left: 1208px;
  top: 910px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.035em;
  
  color: #870000;
}
  .tit2 {
    position: absolute;
    width: 367px;
    height: 48px;
    left: 546px;
    top: 995px;
    
    font-family: 'Kreon';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    
    color: #000000;    
  }
.prod1 img{
  position: absolute;
  width: 219px;
  height: 189px;
  left: 104px;
  top: 1100px;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));
}
.prod1 img:hover{
  transition: 1s;
  transform: scale(1.1);
  cursor: pointer;
}
.prod1 p{
  position: absolute;
  width: 241px;
  height: 39px;
  left: 93px;
  top: 1270px;
  
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
  text-align: center;

  color: #000000;
}
.p6{
  position: absolute;
  width: 108px;
  height: 20px;
  left: 160px;
  top: 1341px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.035em;
  
  color: #870000;
}
.prod2 img{
  position: absolute;
  width: 219px;
  height: 189px;
  left: 450px;
  top: 1100px;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));
}
.prod2 img:hover{
  transition: 1s;
  transform: scale(1.1);
  cursor: pointer;
}
.prod2 p{
  position: absolute;
  width: 238px;
  height: 39px;
  left: 441px;
  top: 1270px;
  
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
  text-align: center;

  color: #000000;
}
.p7{
  position: absolute;
  width: 108px;
  height: 20px;
  left: 506px;
  top: 1340px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.035em;
  
  color: #870000;
}
.prod3 img{
  position: absolute;
  width: 219px;
  height: 189px;
  left: 806px;
  top: 1100px;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));
}
.prod3 img:hover{
  transition: 1s;
  transform: scale(1.1);
  cursor: pointer;
}
.prod3 p{
  position: absolute;
  width: 250px;
  height: 39px;
  left: 790px;
  top: 1270px;
  
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
  text-align: center;
  
  color: #000000;
}
.p8{
  position: absolute;
  width: 108px;
  height: 20px;
  left: 862px;
  top: 1340px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.035em;
  
  color: #870000;
}
.prod4 img{
  position: absolute;
  width: 219px;
  height: 189px;
  left: 1152px;
  top: 1100px;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));
}
.prod4 img:hover{
  transition: 1s;
  transform: scale(1.1);
  cursor: pointer;
}
.prod4 p{
  position: absolute;
  width: 219px;
  height: 39px;
  left: 1152px;
  top: 1270px;
  
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
  text-align: center;
  
  color: #000000;
}
.p9{
  position: absolute;
  width: 108px;
  height: 20px;
  left: 1208px;
  top: 1340px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.035em;
  
  color: #870000;
}

/* COW */
.table {
  position: absolute;
  width: 519px;
  height: 722px;
  left: 178px;
  top: 192px;
  
  background: #131313;
  border-radius: 15px;
}
.table a{
  text-decoration: none;
  color: #FFFFFF;
}
.table a:hover{
  text-decoration: none;
  color: #d40000;
  cursor: pointer;
}
.tablef {
  position: absolute;
  width: 519px;
  height: 722px;
  left: 461px;
  top: 192px;
  
  background: #131313;
  border-radius: 15px;
}
.tablef a{
  text-decoration: none;
  color: #FFFFFF;
}
.tablef a:hover{
  text-decoration: none;
  color: #d40000;
  cursor: pointer;
}
.table2 {
  position: absolute;
  width: 519px;
  height: 722px;
  left: 778px;
  top: 192px;
  
  background: #131313;
  border-radius: 15px;
}
.table2 a{
  text-decoration: none;
  color: #FFFFFF;
}
.table2 a:hover{
  text-decoration: none;
  color: #d40000;
  cursor: pointer;
}
.carne1 img{
  position: absolute;
  width: 519px;
  height: 101px;
  
  border-radius: 15px;
}
.carne1 p {
  position: absolute;
  width: 411px;
  height: 54px;
  left: 50px;
  top: 50px;
  
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 600;
  font-size: 41px;
  line-height: 52px;
  text-align: center;
  
  color: #FF0000;
}
.carne2 p{
  position: absolute;
  width: 480px;
  height: 33px;
  left: 13px;
  top: 120px;
  
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 52px;
  
  color: #FFFFFF;
}
.carne3 p{
  position: absolute;
  width: 480px;
  height: 33px;
  left: 13px;
  top: 200px;
  
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 52px;
  
  color: #FFFFFF;
}
.carne4 p{
  position: absolute;
  width: 480px;
  height: 33px;
  left: 12px;
  top: 280px;
  
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 52px;
  
  color: #FFFFFF;
}
.carne5 p{
  position: absolute;
  width: 480px;
  height: 33px;
  left: 13px;
  top: 360px;
  
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 52px;
  
  color: #FFFFFF;
}
.carne6 p{
  position: absolute;
  width: 480px;
  height: 33px;
  left: 13px;
  top: 440px;
  
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 52px;
  
  color: #FFFFFF;
}
.carne7 p{
  position: absolute;
  width: 480px;
  height: 33px;
  left: 13px;
  top: 520px;
  
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 52px;
  text-align: center;
  color: #FFFFFF;
}
.carne8 p{
  position: absolute;
  width: 490px;
  height: 33px;
  left: 13px;
  top: 600px;
  
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 52px;
  
  color: #FFFFFF;
}
.fish1 img{
  position: absolute;
  width: 519px;
  height: 101px;
  
  border-radius: 15px;
}
.fish1 p {
  position: absolute;
  width: 411px;
  height: 54px;
  left: 50px;
  top: 50px;
  
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 600;
  font-size: 41px;
  line-height: 52px;
  text-align: center;
  
  color: #FF0000;
}
.fish2 p{
  position: absolute;
  width: 480px;
  height: 33px;
  left: 13px;
  top: 120px;
  
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 52px;
  
  color: #FFFFFF;
}
.fish3 p{
  position: absolute;
  width: 480px;
  height: 33px;
  left: 13px;
  top: 200px;
  
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 52px;
  
  color: #FFFFFF;
}
.fish4 p{
  position: absolute;
  width: 480px;
  height: 33px;
  left: 12px;
  top: 280px;
  
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 52px;
  
  color: #FFFFFF;
}
.fish5 p{
  position: absolute;
  width: 480px;
  height: 33px;
  left: 13px;
  top: 360px;
  
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 52px;
  
  color: #FFFFFF;
}
.fish6 p{
  position: absolute;
  width: 480px;
  height: 33px;
  left: 13px;
  top: 440px;
  
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 52px;
  
  color: #FFFFFF;
}
.fish7 p{
  position: absolute;
  width: 480px;
  height: 33px;
  left: 13px;
  top: 520px;
  
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 52px;
  text-align: center;
  color: #FFFFFF;
}
.carn1 img{
  position: absolute;
  width: 519px;
  height: 101px;
  
  border-radius: 15px;
}
.carn1 p {
  position: absolute;
  width: 411px;
  height: 54px;
  left: 50px;
  top: 50px;
  
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 600;
  font-size: 41px;
  line-height: 52px;
  text-align: center;
  
  color: #FF0000;
}
.carn2 p{
  position: absolute;
  width: 490px;
  height: 33px;
  left: 14px;
  top: 120px;
  
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 52px;
  
  color: #FFFFFF;
}
.carn3 p{
  position: absolute;
  width: 480px;
  height: 33px;
  left: 14px;
  top: 200px;
  
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 52px;
  
  color: #FFFFFF;
}
.carn4 p{
  position: absolute;
  width: 485px;
  height: 33px;
  left: 14px;
  top: 280px;
  
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 52px;
  
  color: #FFFFFF;
}
.carn5 p{
  position: absolute;
  width: 480px;
  height: 33px;
  left: 16px;
  top: 360px;
  
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 52px;
  
  color: #FFFFFF;
}
.carn6 p{
  position: absolute;
  width: 480px;
  height: 33px;
  left: 16px;
  top: 440px;
  
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 52px;
  
  color: #FFFFFF;
}
.carn7 p{
  position: absolute;
  width: 480px;
  height: 33px;
  left: 16px;
  top: 520px;
  
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 52px;
  text-align: center;
  color: #FFFFFF;
}
.carn8 p{
  position: absolute;
  width: 490px;
  height: 33px;
  left: 16px;
  top: 600px;
  
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 52px;
  
  color: #FFFFFF;
}

/* RODAPÉ */
.sidebar {
  position: absolute;
  width: 100%;
  height: 82px;
  left: 0px;
  top: 1450px;
  
  background: linear-gradient(0deg, #CA9D5D 26.83%, rgba(157, 104, 64, 0) 100%);
}
.sidebarc {
  position: absolute;
  width: 100%;
  height: 82px;
  left: 0px;
  top: 950px;
  
  background: linear-gradient(0deg, #CA9D5D 26.83%, rgba(157, 104, 64, 0) 100%);
}
.rd p{
  position: absolute;
  width: 525px;
  height: 43px;
  left: 39px;
  
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  
  color: #000000;
  filter: drop-shadow(0px 4px 5px rgb(68, 48, 5));
}
.rd2 img{
  position: absolute;
  width: 64px;
  height: 61px;
  left: 1265px;
  top: 18px;  
  filter: drop-shadow(0px 4px 5px rgb(68, 48, 5));
}
.rd2 img:hover{
  transform: scale(1.1);
  transition: 1s;
  cursor: pointer;
}
.rd3 img{
  position: absolute;
  width: 53px;
  height: 53px;
  left: 1202px;
  top: 20px;
  filter: drop-shadow(0px 4px 5px rgb(68, 48, 5));
}
.rd3 img:hover{
  transform: scale(1.1);
  transition: 1s;
  cursor: pointer;
}

/* CADASTRO */
.base {
  box-sizing: border-box;

  position: absolute;
  width: 669px;
  height: 760px;
  left: 386px;
  top: 15px;
  
  background: #FFEED6;
  border: 5px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
.name input{
  position: absolute;
  width: 553px;
  height: 47px;
  left: 50px;
  top: 154px;
  
  background: #FFF7EA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.email input{
  position: absolute;
  width: 553px;
  height: 47px;
  left: 50px;
  top: 230px;
  
  background: #FFF7EA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.senha input{
  position: absolute;
  width: 553px;
  height: 47px;
  left: 50px;
  top: 306px;
  
  background: #FFF7EA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.estado input{
  position: absolute;
  width: 553px;
  height: 47px;
  left: 50px;
  top: 382px;
  
  background: #FFF7EA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.cidade input{
  position: absolute;
  width: 553px;
  height: 47px;
  left: 50px;
  top: 458px;
  
  background: #FFF7EA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.cpf input{
  position: absolute;
  width: 553px;
  height: 47px;
  left: 50px;
  top: 534px;
  
  background: #FFF7EA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

button {
  position: absolute;
  width: 553px;
  height: 69px;
  left: 50px;
  top: 629px;
  font-size: 25px;
  
  background: #ff0000;
  border-radius: 50px;
  cursor: pointer;
}
button:hover {
  background: linear-gradient(0deg, #ff0000 26.83%, rgba(126, 0, 0, 0) 100%);
}
span {
  margin-left: 9pc;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}
.sucess {
  margin-left: 11.5pc;
  margin-top: 0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
}
.back {
  margin-top: -90px;
  margin-left: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.back a{
  color: #870000;
  text-decoration: none;
}
.back a:hover{
  color: #fe0000;
  text-decoration: underline;
}
.log {
  margin-top: -20px;
  margin-left: 38pc;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.log a{
  color: #870000;
  text-decoration: none;
}
.log a:hover{
  color: #fe0000;
  text-decoration: underline;
}

/* LOGIN */
.basel {
  box-sizing: border-box;

  position: absolute;
  width: 669px;
  height: 417px;
  left: 450px;
  top: 190px;
  
  background: #FFEED6;
  border: 5px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
.backl {
  margin-top: -15px;
  margin-left: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.backl a{
  color: #870000;
  text-decoration: none;
}
.backl a:hover{
  color: #fe0000;
  text-decoration: underline;
}
.emaill input{
  position: absolute;
  width: 553px;
  height: 47px;
  left: 50px;
  top: 180px;
  
  background: #FFF7EA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.senhal input{
  position: absolute;
  width: 553px;
  height: 47px;
  left: 50px;
  top: 240px;
  
  background: #FFF7EA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.login button {
  position: absolute;
  width: 558px;
  height: 69px;
  left: 50px;
  top: 310px;
  
  background: #ff0000;
  border-radius: 50px;
  cursor: pointer;
}
.login button:hover {
  background: linear-gradient(0deg, #ff0000 26.83%, rgba(126, 0, 0, 0) 100%);
}